.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #0f0f0f;
}

.subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #0f0f0f;
}
