@import "tailwindcss";

:root {
  --background: #f5f6f8;
  --foreground: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
}

body {
  background: var(--Gray, #f5f6f8);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid #ffaf0e;
  outline-offset: 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #ffaf0e;
  outline-offset: 2px;
}

:focus-visible {
  outline: 2px solid #ffaf0e;
  outline-offset: 2px;
}
